body {
  font-family: "Noto Serif Toto", serif;
}

.weather-wrapper {
  max-width: 600px;
  margin: 35px auto;
}

.weather-card {
  padding: 20px;
  border: 1px solid #c4c1e0;
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.overview {
  margin-bottom: 5px;
}

h1 {
  color: #085f63;
  font-size: 32px;
  font-weight: 100;
  line-height: 27px;
  margin-bottom: -5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #085f63;
  font-size: 17px;
  font-weight: 100;
  line-height: 19px;
  margin-bottom: 12px;
}

li::first-letter {
  text-transform: capitalize;
}

p::first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 55px;
  height: 100px;
  width: 100px;
}

.temp-c-f {
  margin-top: 21px;
}

.weather-temperature strong {
  color: #f78536;
  font-size: 75px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -41px;
}

.weather-temperature .active {
  color: #085f63;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.pres,
.humid,
.speed {
  color: #f78536;
  font-size: 20px;
}

p {
  color: #085f63;
}
.weather-forecast {
  color: #085f63;
  margin-top: 20px;
  text-align: center;
}
.image-forecast {
  display: block;
  margin-left: 13px;
  width: 42px;
}

.date-forecast {
  font-size: 20px;
}

.temperature-forecast {
  margin-top: 10px;
}

.max-temperature {
  color: #f78536;
  font-weight: bold;
  font-size: 17px;
}

.min-temperature {
  color: #f78536;
}
