body {
  font-family: arial, helvetica, sans-serif;
}

.weather-wrapper {
  max-width: 600px;
  margin: 35px auto;
}

.weather-card {
  padding: 20px;
  border: 1px solid #c4c1e0;
  border-radius: 15px;
}

.overview {
  margin-bottom: 20px;
}

h1 {
  color: #085f63;
  font-size: 25px;
  font-weight: 100;
  line-height: 27px;
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #085f63;
  font-size: 19px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #f78536;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
